<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/footer.css" />
    <!--[if lt IE 9]>
      <script type="text/javascript" src="../js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE 9]>
      <link
        href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css"
        rel="stylesheet" />
      <script
        type="text/javascript"
        src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <link
        href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css"
        rel="stylesheet" />
      <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
      <script
        type="text/javascript"
        src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <!--[if lt IE 7]>
      <script
        type="text/javascript"
        src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/modernizr-custom.js"></script>
    <title>footer</title>
  </head>
  <body>
    <div class="footer">
      <div class="footer_wrap">
        <div class="footer__social">
          <a class="footer__social--icon footer__social--icon-f"></a>
          <a class="footer__social--icon footer__social--icon-i"></a>
          <a class="footer__social--icon footer__social--icon-y"></a>
        </div>
        <div class="footer__contact">
          <div class="footer__contact-left">
            <div class="footer__contact--title">꾸까 고객센터</div>
            <div class="footer__contact--number">1661-1031</div>
            <div class="footer__contact--description">
              (평일 10:00 - 13:00, 14:00 - 18:00 / 주말 & 공휴일 제외)
            </div>
            <div class="footer__contact--enterprise">
              기업제휴 문의 : 070-4238-8251
            </div>
          </div>
          <div class="footer__contact-left">
            <div class="footer__contact--btn">꾸까 고객센터 ></div>
          </div>
        </div>
        <div class="footer__about">
          <div class="footer__about--logo"></div>
          <div class="footer__about--info info-start">상호명: 꾸까(kukka)</div>
          <div class="footer__about--info">사업자 등록번호:264-81-32594</div>
          <div class="footer__about--info info-end">대표자:박춘화</div>
          <div class="footer__about--info info-start">
            소재지: 서울시 서초구 남부순환로333길 10 kukka
          </div>
          <div class="footer__about--info">기업공시</div>
          <div class="footer__about--info info-end">
            통신판매신고번호 2018-서울서초-1692
          </div>
          <div class="footer__about--info info-start copy-end">
            <copy>© 2014-2021 kukka, Inc. All rights reserved.</copy>
          </div>
          <div class="footer__about--tems">
            <div>이용약관</div>
            <div>개인정보 처리방침</div>
            <div>제휴안내</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
